<header>
  <nav>
    <a class="left" href="#">
      <img src="../../assets/logo.svg" alt="Coinbase" width="142" height="29">
    </a>
    <ul class="center">
      <li><a class="underline_animation" href="#">Home</a></li>
      <li><a class="underline_animation" href="#">About Us</a></li>
      <li><a class="underline_animation" href="#">Blog</a></li>
      <li><a class="underline_animation" href="#">Contact Us</a></li>
    </ul>
    <div class="right">
      <div class="right1 underline_animation">
        <select name="sell" id="sell">
          <option value="" disabled selected>Sell Bitcoin/ Giftcard</option>
          <option value="Bitcoin">Sell Bitcoin</option>
          <option value="Giftcard">Sell Giftcard</option>
        </select>
      </div>
      <button class="colorfull">LOGIN</button>
    </div>
  </nav>
</header>
