* {
  text-decoration: none;
  font-weight: 700;
  color: #333333;
  align-items: center;
}

li {
  list-style: none;
  padding-left: 4vw;
}

ul {
  display: flex;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 4vh;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 4vh;
}

.right {
  display: flex;
}

.right1 {
  margin-right: 4vw;
}

.center {
}

select {
  border: none;
  background: none;
}


.underline_animation {
  position: relative;
  display: inline-block;
}

.underline_animation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
  border-radius: 3px;
}

.underline_animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}
