<div class="wrapper">
  <div class="column-main">
    <img src="../../assets/logobn.svg" alt="CoinBase">
    <p> Fusce ut elit aliquet, fermentum leo vel, tempus<br>nunc. Fusce eu rhoncus augue. Fusce vel metus<br>pharetra, fermentum</p>
    <a class="social" href="#"><img src="../../assets/Google+.svg" alt="Google +"></a>
    <a class="social"  href="#"><img src="../../assets/Facebook.svg" alt="Facebook"></a>
    <a class="social"  href="#"><img src="../../assets/Twitter.svg" alt="Twitter"></a>
    <a class="social"  href="#"><img src="../../assets/Instagram.svg" alt="Instagram"></a>

  </div>

  <div class="links">
    <h1>CoinBase Links</h1>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Sell</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>

  <div class="contact">
    <h1>Contact Us</h1>
    <ul>
      <li>(+234) 137632128</li>
      <li>Coinbase@yahoo.com</li>
      <li>Address goes here</li>
    </ul>
    <p>Download Our App</p>
  </div>

  <div class="insta">
    <h1>CoinBase Instagram</h1>
    <img src="../../assets/igpics.svg" alt="Fotos de Instagram">
  </div>
</div>
