.hero {
  display: flex;
  align-items: center;
  background: linear-gradient(174.48deg, #FD749B -12.41%, #281AC8 88.56%);
  color: white;
  padding: 6vw 7vw 15vh;
}

.tittle {
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
}

.subtittle {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 47px;
}

.starter-btn {
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  border: transparent;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.btn-bg {
  background: white;
  border-radius: 100px;
  padding: 17px 32px;
}

.divider {
  position: absolute;
  bottom: -8vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 170px;
}

.divider .shape-fill {
  fill: #FFFFFF;
}
