.wrapper {
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  padding-top: 15vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.card-big {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw 15vw;
  z-index: 1;
}

.mini-cards {
  display: flex;
  gap: 63px;
  justify-content: center;
  padding-top: 5vw;
}

.mini-card {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 15px;
  border: 1px solid #FD749B;
  align-items: center;
  width: 262px;
  height: 226px;
  justify-content: space-evenly;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line  {
  position: relative;
}


.wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-bottom svg {
  position: relative;
  display: block;
  width: calc(207% + 1.3px);
  height: 517px;
}

.wave-bottom .shape-fill {
  fill: #FFFFFF;
}
