<div class="wrapper">
  <div class="title">
    <h1 class="colorful-tittle">Our blog</h1>
    <div class="line"></div>
  </div>
  <p class="description">Get to know the latest stuff via our blog post.</p>

  <div class="cards">
    <div *ngFor="let entry of news" class="card">
      <div></div>
      <p class="content">{{entry.date}} | {{entry.category}}</p>
      <div class="colorful-tittle">{{entry.title}}</div>
      <p class="content">{{entry.content}}</p>
      <button class="colorfull">Read more</button>
    </div>
  </div>
</div>
